@model IEnumerable<DTO.Dishes>

@{
    ViewData["Title"] = "GetAllDishes";
}

<h2>Sélectionner votre repas</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DishesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishesDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishesPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DishesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishesDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishesPrice)
            </td>
            <td>
                @Html.ActionLink("buy", "buy", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>  
</table>
