@model IEnumerable<DTO.Cities>

@{
    ViewData["Title"] = "Select Your City";
}

<h2>Select your City</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip_Code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip_Code)
            </td>
            <td>
                @Html.ActionLink("Select", "Select", new {id=item.IdCity})         
            </td>
        </tr>
}
    </tbody>
</table>
