@model IEnumerable<DTO.Dishes>

@{
    ViewData["Title"] = "ShowDishes";
}

<h2>Choose the dishes you want</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DishesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishesDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishesPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DishesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishesDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishesPrice)
            </td>        
            <td>
                @Html.ActionLink("buy", "buy","cart", new { id = item.IdDishes }) 
        </tr>
}
    </tbody>
</table>
